{% extends './common/master.html' %}

{% block header %}
    <title>hone-Cli</title>
    {% if isExtractCss%}
        <link rel="stylesheet" href="{{ entrance('demo.css') }}">
    {% endif%}

{% endblock%}

{% block body %}
    <div class="wrapper">

        <div class="row">
            <div class="col-12">
                <div class="module">
                    <h1>HONE-CLI</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="module">
                    <p>[ho'ne] japanese pronunciation, it means bone </p> <br>
                    <p>a cli tool which can easily generate a complete development environment of web app</p><br>
                    <h3>Required: nodejs@v7.8.0+</h3>
                </div>
            </div>
            <div class="col-12">
                <div class="module module-icons">
                    <h2>DEMO</h2> <br>
                    <p>bootstrap icons</p>
                    {% for icon in icons %}
                        <span class="glyphicon {{icon}}"></span>
                    {% endfor%}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="module module-info">
                    <h2>Command Line</h2>
                </div>
            </div>
            <div class="col-7">
                <div class="module module-info">
                    <p>
                        hone init <br>
                        hone start <br>
                        hone pack <br>
                        hone upload <br>
                        hone create <br>
                        hone config <br>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-7">
                <div class="module module-info">
                    <div class="img-check"></div>
                    <p class="extreme-big"></p>
                </div>
            </div>
            <div class="col-5">
                <div class="module module-info">
                    <h2>col-5</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="module">
                    footer
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="module module-footer">

                    <p>
                        <span class="glyphicon glyphicon-globe"></span>
                        ALL RIGHTS RESERVED.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        /**
         * 变量申明
         * 错误全局监听
         * 第三方公用
         * 业务
         */
        this.CUR_DATA = {
            str: '{{ str }}'
        };
    </script>

    <script src="{{ entrance('vendor.js') }}"></script>
    <script src="{{ entrance('demo.js') }}"></script>
{% endblock %}
